@page  {
  margin: 0.25in;
  size: letter;
}

body {
  background-color: snow;
}

.header {
  display: flex;
  justify-content: center;
	flex-direction: column;
	align-items: center;
}

.name {
  color: steelblue;
}

